{
    "extends": [
      "react-app",
      "airbnb",
      "plugin:jsx-a11y/recommended",
      "prettier"
    ],
    "plugins": [
      "react",
      "jsx-a11y",
      "prettier"
    ],
    "rules": {
      "react/forbid-prop-types": 0,
      "no-console": 0,
      "no-plusplus": 0,
      "react/require-default-props": 0,
      "semi": 0,
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "prettier/prettier": [
        "error", {
          "semi": false
        }
      ],
      "jsx-a11y/label-has-associated-control": ["error", {
        "required": {
          "some": ["nesting", "id"]
        }
      }],
      "jsx-a11y/label-has-for": ["error", {
        "required": {
          "some": ["nesting", "id"]
        }
      }]

    }
  }