@import url("../../index.css");

.layout {
    display: grid;
    grid-template-columns: 5fr 8fr 5fr;
    width: min(100vw, 80rem);
    background-color: white;
}

.my-modal {
    background: rgba(var(--light-gray), 0.9);
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.my-modal__content {
    position: absolute;
    width: min(33rem, 75vw);
    background-color: white;
    margin-top: 24vh;
    left: 50%;
    transform: translateX(-50%);
}

/* width */
.my-modal__content::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.my-modal__content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 12px;
}

/* Handle */
.my-modal__content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
.my-modal__content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.navbar {
    background-color: rgba(0,0,0,0);
}
