.button--light,
.button--dark, 
.button--blue  {
    width: 100%;
    outline: none;
    border-radius: 20px;
    padding: 0.25rem;
    transition: 0.1s;
} 

.button--dark {
    border: none;
    background-color: rgb(var(--black));
    color: rgb(var(--white));
}

.button--light  {
  border: 1px solid rgb(var(--light-gray));
  background-color: rgb(var(--white));
  color: rgb(var(--black));
}

.button--blue {
    border: 1px solid rgb(var(--blue));
    background-color: rgb(var(--blue));
    color: rgb(var(--white));
}

.button--light:hover  {
    background-color: rgba(var(--black), 0.1);
    transition: 0.1s;
}

.button--dark:hover  {
    background-color: rgba(var(--black), 0.9);
    transition: 0.1s;
}

.button--blue:hover  {
    background-color: rgba(var(--blue), 0.9);
    border: 1px solid rgba(var(--blue), 0.9);
    transition: 0.1s;
}
