@import url("../index.css");
.image-container--bg {
    height: min(15rem, 20vh);
    width: 100%;
    position: relative;
    background-color: white;
}

.image-container__img--bg {
    object-fit: cover;
    width: 100%;
}

.image-container--avatar {
    height: 8rem;
    width: 8rem;
    position: relative;
    background-color: white;
}

.image-container__img--avatar {
    height: 8rem;
    width: 8rem;
    border: solid 4px white;
}

.image-container--avatar--small {
    height: 3rem;
    width: 3rem;
    position: relative;
    background-color: white;
}

.image-container__img--avatar--small {
    height: 3rem;
    width: 3rem;
}

.image-container--create-tweet {
    background-color: white;
}

.image-container__img--create-tweet {
    max-width: 100%;
    max-height: 30rem;
}

