@import url("../index.css");

.label-and-input--active {
    border: solid 1px rgb(var(--blue));
}

.label-and-input--inactive {
    border: solid 1px rgb(var(--light-gray));
}


.label-and-input__label--has-input {
    transition: 0.1s;
    pointer-events: none;
    color: rgb(var(--light-gray));
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

.label-and-input__label--inactive {
    transform:  translateY(1rem);
    font-size: 1rem;
    transition: 0.1s;
    pointer-events: none;
    color: rgb(var(--light-gray));
}

.label-and-input__label--active {
    transition: 0.1s;
    color: rgb(var(--blue));
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

.label-and-input__input {
    outline: none;
}