@import url("../index.css");

.rounded-modal {
    position: fixed;
    height: min(35rem, 80vh);
    width: min(35rem, 75vw);
    background-color: white;
    left: 50%;
    margin-top: 15vh;
    transform: translateX(-50%);
}

/* width */
.rounded-modal::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.rounded-modal::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 12px;
}

/* Handle */
.rounded-modal::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
.rounded-modal::-webkit-scrollbar-thumb:hover {
    background: #555;
}