@import url("../index.css");

.rounded-modal {
    position: fixed;
    height: min(35rem, 80vh);
    width: min(35rem, 75vw);
    background-color: white;
    left: 50%;
    margin-top: 15vh;
    transform: translateX(-50%);
}