.profile-modal {
    background-color: white;
    z-index: 999;
    height: max-content;
    max-width: 20rem;
}

.profile-modal__h4 {
    color: black;
    font-size: 0.9rem;
    font-weight: bold;
}